body {
	background: white;
	font-family: Georgia, serif;
	padding-bottom: 8px;
	margin-top: 50px;
}

header {
    text-align: center;
    padding: 0;
    background-color: white;
}

section {
    padding: 20px;
    background-color: white;
}

footer {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 75px;
    padding: 0;
    background-color: white;
}

h1, h2{
	color: #527bbd;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 250px;
	padding-bottom: 10px;
	line-height: 1.0;
}

h1 {
	font-size: 165%;
}

h2 {
	font-size: 125%;
	border-bottom: 1px solid #aaaaaa;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
	padding: 3px;
	line-height: 1.5;
}

li {
	margin-top: 0;
	margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
	padding: 3px;
	line-height: 1.5;
}

a:link, a:visited {
	color: #527bbd;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid gray;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }

    h1, h2 {
		margin-left: 0;
		margin-right: 0;
	}

	p {
		margin-left: 0;
		margin-right: 0;
	}

	li {
		margin-left: 0;
		margin-right: 0;
	}
}